.section-benefits {
    background-color: $secondary-title-color;
    padding-bottom: 0;


&__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

&__list {
    display: flex;

}

&__item:not(:last-child) {
    margin-right: 30px;
}

&__img {
    background-color: $background-color;
    border-radius: 4px;
}

&__icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
}


&__text {
    color: $primary-text-color;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 0px;
}

&__title {
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 30px;

}}
