.section-customers {
    background-color: $secondary-title-color;}


.section-customers__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
}

.section-customers__list {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;

}

.section-customers__link {
    display: flex;
    width: 170px;
    height: 92px;
    padding: 0;
    border: none;
    border: 1px solid $icon-border-color;
    border-radius: 4px;
    padding: 16px 32px;
    fill: $icon-border-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
            border: 1px solid $accent-color;
            fill: $accent-color;}
}



.section-customers__icon {
    width: 106px;
    height: 60px;
}

.section-customers__item {
    margin-right: 30px;

     &:last-child {
            margin-right: 0px;}}


