.logo {
    color: $accent-color;
    font-family:"Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.page-header__logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.page-footer__logo {
    color: $secondary-title-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;

}

